BODY{background: #d3d5ff;}
P{color: white; background: darkcyan; text-align: right; font-weight: bold; font-size: 20px}
#text2{color: white; background: darkcyan; text-align: right; font-weight: bold; font-size: 20px }
#text3{color: white; background: darkcyan; text-align: right; font-weight: bold; font-size: 20px }