* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#secret {
    width: 30%;
    height: 40%;
    border: 8px ridge orange;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 45px;
    background-color: darkviolet;

}