* {
    padding: 0;
    margin: 0;
}


.Header {
    width: 100%;
    height: 100px;
    background-color: aqua;
    color: white;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}

.MIDDLE {
    width: 100%;
    height: 700px;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 7px;
}

.Hero {
    width: 40%;
    height: 260px;
    background-color: violet;
    color: white;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
    margin-right: 4px;

}

.mainContent {
    width: 58.5%;
    height: 400px;
    background-color: #cba712;
    color: white;
    font-size: 45px;
    margin-bottom: 7px;
    text-align: center;
    padding: 10px;
}

.textMain{
    margin-bottom: 15px;
}

.inMain {
    font-size: 15px;

}


.Sidebar {
    width: 40%;
    height: 400px;
    background-color: forestgreen;
    color: white;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.25%;
    flex-grow: 2;
}

.Extra {
    width: 59.75%;
    height: 200px;
    background-color: darkgrey;
    color: white;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}



.afterMiddle{
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
}

.relateImage {
    width: 70%;
    height: 200px;
    background-color: seagreen;
    color: white;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
}

.relatePost {
    width: 39.75%;
    height: 200px;
    background-color: mistyrose;
    color: white;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Footer {
    width: 100%;
    height: 100px;
    background-color: orange;
    color: white;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}