* {
    margin: 0;
    padding: 0;
}

.main{border: 2px solid black;}

.top {
    width: 100%;
height: 120px;
    background-color: #a1d0ed;

}

.middle {
    background-color: #cccccc;
    width: 100%;
    height: 380px;


}
.middleOne{
    background-color: #ff8aa0;
    width: 200px;
    height: 250px;
    float: left;
    margin-left: 20%;

}

.middleTwo{
    background-color: #ffac71;
    width: 600px;
    height: 340px;
    float: left;
    padding: 20px;
    position: relative;

}

.INmiddleTwo{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    float: left;
    margin-right: 20px;
}

.footer {
    background-color: aqua;
    width: 100%;
    height: 257px;

}

.footerBlock {
background-color: #73d1ff;
    width: 30%;
    height: 100px;
    float: left;
    margin: 15px 20px 8px 20px;

}

.one{margin-left: 40px}
.four{margin-left: 40px}
